<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <data style="display:none"></data>
    </head>
    
    <body>
    
        <div class="modal fade" id="loginForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title-container">
                            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <img src="img/login.jpg" alt="login" class="login-icon">
                    </div>
                    <div id="tc-modal-body" class="modal-body">
                        <input type="text" id="LI_username" placeholder="Enter Username" name="username">
                        <input class="form-control" id="LI_password" type="password" name="password" placeholder="Enter Password">
                        <button type="submit" id="submit-login-button">Login</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-toggle="modal" data-target="#loginForm" class="cancelbtn">Cancel</button>
                        <span class="new-here" data-toggle="modal" data-target="#createAccountForm">New here? <a href="#">Create Account</a> </span>
                    </div>
                </div>
            </div>
        </div>

         <div class="modal fade" id="createAccountForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title-container">
                            <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <img src="img/login.jpg" alt="login-icon" class="login-icon">
                    </div>
                    <div id="tc-modal-body" class="modal-body">
                        <input type="text" id="CA_fname" placeholder="Enter first name" name="fname">
                        <input type="text" id="CA_lname" placeholder="Enter last name" name="lname">
                        <input type="text" id="CA_username" placeholder="Enter Username" name="username">
                        <input type="password" id="CA_password" placeholder="Enter Password" name="password">
                        <button type="submit" id="create-account-button">Create Account</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-toggle="modal" data-target="#createAccountForm" class="cancelbtn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="page-container">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#"> {{title}} </a>
                <marquee id="intro" direction="left"><big><i>Final Exam for CST 336, Internet Programming, made by Joseph Villegas - Fall 2019</i></big></marquee>
                <div class="form-inline">
                    <div id="login-button">
                        <input type="image" 
                            src="img/login_icon.png" 
                            name="loginButton" 
                            class="btTxt submit" 
                            data-toggle="modal" data-target="#loginForm"/>
                    </div>
                </div>
            </nav>
            <div id="body-container">
                <div style="margin-top: 30px"><p class="text-center">Find Your Next Appointment</p></div>
                <div id="search-container">
                    <div id="searchBar" style="margin:auto;max-width:800px">
                        <input type="date" name="search-field" id="search-field">
                        <button type="submit" id="search-button"><i class="fa fa-search"></i></button>
                    </div> 
                </div>
                <div class="container-fluid" style="height: 100%; width: 100%; margin-top: 30px;"></div>
                <table>
                <thead>
                <tr>
                <th style="text-align:left">#</th>
                <th style="text-align:left">Task Description</th>
                <th style="text-align:left">Points</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td style="text-align:left; color: green">1</td>
                <td style="text-align:left; color: green">You provide a ERD diagram representing the data and its relationships. This may be included in Cloud9 as a picture or from a designer tool</td>
                <td style="text-align:left; color: green">10</td>
                </tr>
                <tr>
                <td style="text-align:left; color: green">2</td>
                <td style="text-align:left; color: green">Tables in MySQL match the ERD and support the requirements of the application</td>
                <td style="text-align:left; color: green">20</td>
                </tr>
                <tr>
                <td style="text-align:left; color: green">3</td>
                <td style="text-align:left; color: green">The list of available appointments is pulled from MySQL using the API endpoint and displayed using the specified page design</td>
                <td style="text-align:left; color: green">20</td>
                </tr>
                <tr>
                <td style="text-align:left; color: red">4</td>
                <td style="text-align:left; color: red">Available times with dates in the past do not show up in the Dashboard list</td>
                <td style="text-align:left; color: red">5</td>
                </tr>
                <tr>
                <td style="text-align:left; color: green">5</td>
                <td style="text-align:left; color: green">A user can add an available time slot to the MySQL using the API endpoint and displayed using the specified modal design</td>
                <td style="text-align:left; color: green">20</td>
                </tr>
                <tr>
                <td style="text-align:left; color: green">6</td>
                <td style="text-align:left; color: green">A user can remove an available time slot from MySQL using the API endpoint</td>
                <td style="text-align:left; color: green">15</td>
                </tr>
                <tr>
                <td style="text-align:left; color: green">7</td>
                <td style="text-align:left; color: green">The user confirms the removal using the specified modal design</td>
                <td style="text-align:left; color: green">10</td>
                </tr>
                <tr>
                <td style="text-align:left"></td>
                <td style="text-align:left">TOTAL</td>
                <td style="text-align:left">100</td>
                </tr>
                <tr>
                <td style="text-align:left"></td>
                <td style="text-align:left; color: green">This rubric is properly included AND UPDATED (BONUS)</td>
                <td style="text-align:left; color: green">2</td>
                </tr>
                <tr>
                <td style="text-align:left; color: green">BD</td>
                <td style="text-align:left; color: green">Login works with a User table and BCrypt</td>
                <td style="text-align:left; color: green">20</td>
                </tr>
                <tr>
                <td style="text-align:left; color: red">BD</td>
                <td style="text-align:left; color: red">Add Google Signin for app login</td>
                <td style="text-align:left; color: red">10</td>
                </tr>
                <tr>
                <td style="text-align:left; color: green">BD</td>
                <td style="text-align:left; color: green">The app is deployed to Heroku</td>
                <td style="text-align:left; color: green">5</td>
                </tr>
                <tr>
                <td style="text-align:left; color: red">BD</td>
                <td style="text-align:left; color: red">A banner file can be uploaded and displayed</td>
                <td style="text-align:left; color: red">20</td>
                </tr>
                <tr>
                <td style="text-align:left; color: red">BD</td>
                <td style="text-align:left; color: red">The user can add multiple available time slots as specified</td>
                <td style="text-align:left; color: red">10</td>
                </tr>
                <tr>
                <td style="text-align:left; color: red">BD</td>
                <td style="text-align:left; color: red">In a separate page, you show the correct list of available time slots to the user who navigates to the correct invitation URL</td>
                <td style="text-align:left; color: red">10</td>
                </tr>
                <tr>
                <td style="text-align:left; color: red">BD</td>
                <td style="text-align:left; color: red">You correctly implement booking of the appointement, including all side effects</td>
                <td style="text-align:left; color: red">30</td>
                </tr>
                </tbody>
                </table>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <script src="js/functions.js"></script>

    </body>
</html>

